.home{
  margin: 50px auto;
  max-width: 1500px;
  .card-table{
    .row{
      cursor: pointer;
    }
    .col1{
      flex: 1;
    }
    .col2{
      flex: 1;
    }
    .col3{
      flex: 1;
      text-align: center;
    }
    .col4{
      animation: opacity 0.5s ease-out;
      width: 100%;
      padding-top: 30px;
      display: flex;
      justify-content: flex-end;
      button{
        font-weight: 600;

        &:last-child{
          margin-left: 30px;
        }
      }
    }

  }
}

@media screen and (max-width: 1600px) {
  .home{
    margin: 50px;
  }
}

@keyframes opacity {
    from {opacity: 0}
    to {opacity: 1}
}
