body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table{
  display: flex;
  flex-direction: column;
  .header{
    font-weight: 600;
    font-size: 110%;
    display: flex;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(#000000, 0.1);
    div{
      align-self: center;
      margin: 0 10px;
      &:first-child{
        margin-right: 10px;
      }
      &:last-child{
        margin-left: 10px;
      }
    }
  }
  .row{
    display: flex;
    padding: 20px 30px;
    flex-flow: row wrap;
    transition: 0.5s all;
    height: 32px;
    &:hover{
      background: rgba(0,0,0,0.02);
    }
    &.active{
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      height: 120px;
    }
    &>div{
      align-self: center;
      margin: 0 10px;
      &:first-child{
        margin-right: 10px;
      }
      &:last-child{
        margin-left: 10px;
      }
    }
  }
}
