.list-utterance{
  animation: opacity-animation 0.5s;
  .discreet{
    opacity: 0.7;
    font-size: 90%;
  }
  .search{
    margin-top: 10px;
  }
  &.margin-tab{
    margin: 50px auto;
    max-width: 1500px;
  }
  .card-table{
    margin-top: 10px;
    .table{
      .col1{
        flex: 2;
      }
      .col2{
        flex: 1;
      }
      .col3{
        flex: 1;
        text-align:left;
      }
      .col4{
        flex: 0.5;
        padding-top:0;
        justify-content: center;
        text-align:center;
        button:last-child{
          margin-left: 0;
        }
      }
      .col5{
        flex: 0.5;
        text-align:center;
      }
    }
  }

}

@media screen and (max-width: 1600px) {
  .list-utterance.margin-tab{
    margin: 50px;
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
